<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UI自动化测试套件">
    <test name="测试模块">
        <classes>
        <class name="com.testCase.loginTest">
            <methods>
                <include name="getLoginHome"/>

                <include name="testLigin"/>

            </methods>
        </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.util.ExtentTestNGIReporterListener"/>
    </listeners>

</suite>